.container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;

  @media (max-width: 768px) {
    display: block;
    height: 100%;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0.9fr));
  padding: 0 1em;
  gap: 0.5em;
}
