@use "@/styles/variables" as var;

.nav {
  width: 100%;
  margin-bottom: 1em;
}

.ul {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 2px solid var.$primary-border;
}

.li {
  display: block;
  list-style: none;
  padding: 0.75em 1.5em 0.25em;
  border: 2px solid var.$primary-border;
  border-bottom: 0px;
  border-radius: 1em 1em 0 0;
}

.selectedLi {
  display: block;
  list-style: none;
  padding: 0.75em 1.5em 0.25em;
  border: 2px solid var.$primary-border;
  border-bottom: 0px;
  background-color: var.$primary-border;
  border-radius: 1em 1em 0 0;
}

.a {
  color: var.$primary-color;
  text-decoration: none;
  font-size: 1.5rem;
}
