@use "@/styles/variables" as var;

.card {
  border: 2px solid var.$primary-border;
  border-radius: 1em;
  padding: 1em;
}

.name {
  margin: 0.2em;
}

.description {
  margin: 0.2em;
}

.labelBadgesContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
  gap: 0.5em;
}
