$container-max-width: 1200px;
$container-padding: 20px;
$color-hover-text: #2cf;
$color-hover-bg: #eee;
$color-border: #ddd;
$color-error: #f00;
$color-error-background: #eee;
$form-max-width: 600px;
$primary-background: #282c34;
$secondary-background: #222;
$primary: #096;
$primary-border: #383e4a;
$primary-color: #ccc;
$grad-primary: linear-gradient(90deg, #096 0%, #0a7 50.48%, #1b8 100%);
$font-size-unit: 8rem;
$font-size-1: $font-size-unit;
$font-size-2: calc($font-size-unit / 2);
$font-size-3: calc($font-size-unit / 3);
$font-size-4: calc($font-size-unit / 4);
$font-size-5: calc($font-size-unit / 5);
$font-size-6: calc($font-size-unit / 6);
$font-size-7: calc($font-size-unit / 7);
$font-size-8: calc($font-size-unit / 8);
$font-size-9: calc($font-size-unit / 9);
$font-size-10: calc($font-size-unit / 10);
