@use "@/styles/variables" as var;

.card {
  border: 2px solid var.$primary-border;
  border-radius: 1em;
  padding: 1em;
}

.name {
  margin: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  margin: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labelBadgesContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
  gap: 0.5em;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.deadlinedAt {
  text-align: right;
}
