@use "@/styles/variables" as var;

.textarea {
  outline: none;
  color: var.$primary-color;
  background-color: var.$primary-background;
  border: 2px solid var.$primary-border;
  border-radius: 1em;
  padding: 1em;
}

.textbox:focus {
  border: 2px solid var.$primary-border;
}
