@use "@/styles/variables" as var;

.menuBar {
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: width 0.25s ease;
  border: 2px solid var.$primary-border;
  border-radius: 0 1em 1em 0;
  max-height: 80vh;
  background: var.$primary-background;

  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 10;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
}

.content {
  height: 100%;
  padding: 0.75rem;
  overflow-y: auto;
  transition: transform 0.25s ease;
  padding-right: 2.5rem;
}

.toggleBtn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  bottom: 0;
  background: var.$primary-border;
  color: var.$primary-color;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
